<!-- {% assign arrow = '<img src="https://cdn2.iconfinder.com/data/icons/250-perfect-vector-pictograms/48/9.5-512.png">' %} -->
{% assign arrow = '<img src="assets/images/rightArrow.png">' %}

<script type="module" src="{{ site.baseurl }}/assets/js/scheduler.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.css">





<!-- DISCLAIMER -->
<div class="content" id="disclaimer">
    <div class="form-container" style="text-align: center;">
        <div class='disclaimer'>
            <h1>DISCLAIMER</h1>
            <span>
            All the information on this website is published in good faith and for general information purpose only. The Course Planner does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (https://caovicto.github.io/CoursePlanner/), is strictly at your own risk. will not be liable for any losses and/or damages in connection with the use of our website.
        
            Please be also aware that when you leave this website, other sites may have different privacy policies and terms which are beyond this control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.
            </span>
            <h2>Consent</h2>
            <span>
            By using this website, you hereby consent to this disclaimer and agree to its terms.
            </span>
        </div>
     
        <div class="btn" id="disclaimer-agreement" style="margin-top:5vh">I Agree</div>
    </div>
</div>


<!-- CREDIT COUNT FOR STEP 4/5 -->
<div id="credit-count" hidden>
    <h3>Required Credits</h3>
    <div id="required-credits"></div>
    <h3>User Credits</h3>
    <div id="user-credits"></div>
</div>

{% include modal.html %}

<!-- PAGES -->
<div id="schedule-content" hidden>
    <!-- MAJOR -->
    <div class="content" step='1'>
        <h1>Choose Major</h1>
        <div class="search" id="major-search">
            <input class="search-bar" type="text" autocomplete="off" id="major-search-bar" placeholder="Search Major Name">
            <ul class="search-content" id="major-search-content"></ul>
        </div>
    </div>

    <!-- MINOR -->
    <div class="content" step='2' hidden>
        <h1>Choose Minor</h1>
        <div class="search" id="minor-search">
            <input class="search-bar" type="text" autocomplete="off" id="minor-search-bar" placeholder="Search Minor Name">
            <ul class="search-content" id="minor-search-content"></ul>
        </div>

 
    </div> 

    <!-- PAST COURSES -->
    <div class="content" step='3' hidden>
        <h1>Input Past Courses</h1>
        <ul class="block-course-container" id="past-course-list" ></ul>

        <div class="btn" modalID="past-course-input" modalBtn="open">Input Text</div>
        <div class="btn" modalID="course-directory"  modalBtn="open">Search</div>

 
    </div>

    <!-- REQUIREMENTS -->
    <div class="content" step='4' hidden>
        <!-- Incomplete requirements modal -->
        <div class="modal" id="unfulfilled" hidden>
            <div class="modal-background">
                <div class="modal-content">
                    <div id="unfulfilled-message">
                        <span>You have unfulilled Requirements, do you still want to continue?</span>
                    </div>
                    
                    <div class="btn" modalID="unfulfilled" modalBtn="close" id="continue-next">Continue</div>
                    <div class="btn" modalID="unfulfilled" modalBtn="close" id="cancel-next">Cancel</div>
                </div>
            </div>
        </div>

        <!-- Placement Test Info -->
        <div class="modal" id="prerequisite-input">
            <div class="modal-background">
                <div class="modal-content">
                    <div style="padding: 1vw">
                        <h1>Placement Test Information</h1>
                        <div style="padding: 1vw">
                            <h3>Designated Score on English Placement Test</h3>
                            <ul class="block-course-container" id="english-placement" style="width:fit-content">
                                <li><div class='btn selected' id="passed-english-placement">Yes</div></li>
                                <li><div class='btn'>No</div></li>
                            </ul>
                        </div>
    
                        <div style="padding: 1vw">
                            <h3>Designated Score on Mathematics Placement Test</h3>
                            <ul class="block-course-container" id="mathematics-placement" style="width:fit-content">
                                <li><div class='btn selected' id="passed-mathematics-placement">Yes</div></li>
                                <li><div class='btn'>No</div></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="btn" modalBtn="close" modalID="prerequisite-input" id="prerequisite-input-submit">Continue</div>
                </div>
            </div>
        </div>
        
        <h1>Complete Requirements</h1>


        <div class="content" id="requirement-list"></div>
    </div>


    <!-- PREREQUISITES  -->
    <div class="content" step='5' hidden>   
        

                
        <h1>Complete Prerequisites</h1>

        <div id="prerequisite-form">
            <div class="content" id="prerequisite-list">
                
            </div>

    
        </div>
        
    </div>



    <!-- ARRANGE COURSES -->
    <div class="content" step='6' hidden>
        <!-- Incomplete requirements modal -->
        <div class="modal" id="semester-input">
            <div class="modal-background">
                <div class="modal-content">
                    <div style="padding: 1vw">
                        <h1>Semester Information</h1>
                        <div style="padding: 1vw">
                            <h3>Number of Semesters</h3>
                            <div class="number-input">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                                <input class="quantity" min="1" name="quantity" value="8" type="number" id="semester-input-box">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                            </div>
                        </div>
 
                        <div style="padding: 1vw">
                            <h3>Starting Semester</h3>
                            <ul class="block-course-container" id="start-semester" style="width:fit-content">
                                <li><div class='btn selected'>Fall</div></li>
                                <li><div class='btn'>Spring</div></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="btn" modalBtn="close" modalID="semester-input" id="semester-input-submit">Continue</div>
                </div>
            </div>
        </div>

        
        <h1 class='title'>Create Schedule</h1>
        <div id="development-semester-list" hidden>
            <div id="chosen-courses">
                <div class='drop-box' semester='-1'>
                    <div class="semester-info">
                        <div class="credits">
                            <div>Credits</div><div semesterid="-1" credittext="true">0</div>
                        </div>
                    </div>

                    <h3>Chosen Courses</h3>
                    <ul class="block-course-container drag-list"></ul>
                </div>
            </div>

            <div id="semester-boxes">
                <div class='drop-box' semester='0'>
                    <div class="semester-info">
                        <div class="credits">
                            <div>Credits</div><div semesterid="0" credittext="true">0</div>
                        </div>
                    </div>

                    <h3>Previous Courses</h3>
                    <ul class="block-course-container"></ul>
                </div>  
            </div>

        </div>

        <div class="btn" id="print" style="margin-top: 5vh">Print</div>

 
    </div>

    <!-- PAGE NAVIGATION -->
    <div id="prev" hidden>{{ arrow }}</div>
    <div id="next">{{ arrow }}</div>
</div>


