// Background
$bg-color:#363636 !default; 

// general colors
$fulfilled: rgba(166, 255, 166, 0.2) !default;
$unfulfilled: rgba(255, 166, 166, 0.2) !default;
$theme-orange: #F79F79 !default;
$theme-yellow: #F7D08A !default;
$theme-green: #E3F09B !default;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #fafafa !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #a8ceff86 !default;
$code-bg-color2: #ffc1a886 !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;